<h1>Welcome. Let's chat!</h1>
<form id="room-form" method="POST" action="#">
  <fieldset>
    <input type="text" id="room-input" name="room" placeholder="Which room you want to go to?"/>
  </fieldset>
  <fieldset>
    <input type="submit" value="Go to this room">
  </fieldset>
</form>